# **Exercice : manipulation de DataFrame**

À partir des datasets `population_communes.csv` et `surface_departements.csv`, créer un nouveau dataset qui contient une ligne par département, avec ces colonnes:

- la somme des "Population municipale" du département
- la somme des "Population totale" du département (pour l'explication de la distinction entre "Population municipale" et "Population totale", voir: https://www.insee.fr/fr/metadonnees/definition/c1270)
- la part (en pourcentage) de la population municipale par rapport à la population totale
- la part (en pourcentage) de la population (municipale) du département au sein de sa région
- la densité de la population (municipale) en nb d'habitants / km2

(Le dataset final devrait ressembler à `result-exo-cc.csv`)

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
#data check
df_pop_co = pd.read_csv('population_communes.csv')
df_pop_co.sort_values(by=['Code département'],ascending = True).head(5)

,Code département,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value
53035,01,1.0,1,84,Saint-Denis-en-Bugey,345,Auvergne-Rhône-Alpes,Population municipale,2293
65760,01,16.0,4,84,Varambon,430,Auvergne-Rhône-Alpes,Population totale,543
27440,01,8.0,2,84,L' Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,Population municipale,767
27441,01,8.0,2,84,L' Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,Population totale,785
27446,01,1.0,1,84,L' Abergement-de-Varey,2,Auvergne-Rhône-Alpes,Population municipale,243

In [11]:
#data check
df_surface = pd.read_csv('surface_departements.csv')
df_surface.sort_values(by=["code_insee"],ascending=True).head(5)

   code_insee                      nom  surf_km2
52         01                      Ain    5784.0
45         02                    Aisne    7411.0
36         03                   Allier    7379.0
95         04  Alpes-de-Haute-Provence    6993.0
87         05             Hautes-Alpes    5697.0

In [34]:
#join DF to transform them
df = df_pop_co.set_index('Code département').join(df_surface.set_index('code_insee'))
df.head(5)

,Code canton,Code arrondissement,Code région,Nom de la commune,Code commune,Nom de la région,variable,value,nom,surf_km2
01,4.0,1,84,Ambléon,6,Auvergne-Rhône-Alpes,Population totale,116,Ain,5784.0
01,4.0,1,84,Ambléon,6,Auvergne-Rhône-Alpes,Population municipale,110,Ain,5784.0
01,1.0,1,84,Ambronay,7,Auvergne-Rhône-Alpes,Population totale,2788,Ain,5784.0
01,1.0,1,84,Ambronay,7,Auvergne-Rhône-Alpes,Population municipale,2684,Ain,5784.0
01,1.0,1,84,Ambutrix,8,Auvergne-Rhône-Alpes,Population totale,763,Ain,5784.0

In [26]:
df['value'] = df['value'].astype(int)
df['surf_km2'] = df['surf_km2'].astype(str) #empêcher toute addition
df2 = df.groupby([df.index,'variable','Nom de la commune'])['value'].sum().reset_index()
#df2 = df.groupby([df.index,'variable'])['value'].sum()

In [28]:
df2.head(20)

   level_0               variable    Nom de la commune  value
0       01  Population municipale              Ambléon    110
1       01  Population municipale             Ambronay   2684
2       01  Population municipale             Ambutrix    750
3       01  Population municipale    Ambérieu-en-Bugey  14081
4       01  Population municipale  Ambérieux-en-Dombes   1671
5       01  Population municipale     Andert-et-Condon    336
6       01  Population municipale            Anglefort   1124
7       01  Population municipale             Apremont    383
8       01  Population municipale                Aranc    326
9       01  Population municipale              Arandas    148
10      01  Population municipale               Arbent   3379
11      01  Population municipale              Arbigny    462
12      01  Population municipale      Arboys en Bugey    640
13      01  Population municipale                Argis    438
14      01  Population municipale                Armix     26
15      01  Population municipale      Ars-sur-Formans   1389
16      01  Population municipale             Artemare   1227
17      01  Population municipale   Asnières-sur-Saône     63
18      01  Population municipale             Attignat   3270
19      01  Population municipale                Balan   2856

In [25]:
df3 = df.groupby([df.index,'surf_km2'])['value'].sum().reset_index()
df3.head()

  level_0 surf_km2    value
0      01   5784.0  1293596
1      02   7411.0  1085723
2      03   7379.0   688720
3      04   6993.0   329896
4      05   5697.0   287255

# **Correction**

1. Group by de la table commune population : .reset_index() -> dataframe ...reset_index()['noms des colonnes à garder'] </br>
2. On obtient une table avec les départements et les informations nous intéressant 
3. Puis opérations classiques sur les colonnes